* {
    padding    : 0;
    margin     : 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color          : rgb(0, 0, 0);
}

.header-top {
    height: 90px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6615a;
}
@media screen and (max-width: 960px) {
    .header-top {
        padding-left: 30px;
    }
}
.header-top_logo img {
    max-width: 200px;
    height: auto;
    transform: translateY(3%);
    margin: auto 0;
}
@media screen and (max-width: 640px) {
    .header-top_logo img {
        max-width: 100px;
    }
}
.header-top_menu {
    display: flex;
}
@media screen and (max-width: 960px) {
    .header-top_menu a {
        font-size: 62.5%;
    }
}
.header-top_menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
@media screen and (max-width: 640px) {
    .header-top_menu ul {
        gap: 10px;
    }
}
.header-top_menu ul li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.header-top_menu ul li a:hover {
    color: #ffffff;
    cursor: pointer;
}

nav {
    height          : 115px;
    background-color: #423d31;
    margin-bottom   : 90px;
}

nav h1 {
    text-align : center;
    line-height: 115px;
    font-size  : 40px;
    font-weight: 600;
    color      : white;
}

.content {
    text-align: justify;

    position       : relative;
    width          : 80%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.content .textBox {
    position : relative;
    max-width: 600px;
}

.content .textBox h2 {
    color      : #333;
    font-size  : 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color      : #017143;
    font-size  : 1.2em;
    font-weight: 700;
}

.content .textBox p {
    text-align: left;
    color     : #333;
}

.content .textBox a {
    display        : inline-block;
    margin-top     : 20px;
    padding        : 8px 20px;
    background     : #017143;
    color          : #fff;
    border-radius  : 40px;
    font-weight    : 300;
    letter-spacing : 1px;
    text-decoration: none;
}

.content .imgBox {
    width  : 500px;
    display: flex;
}

.footer {
    padding-top     : 15px;
    padding-bottom  : 15px;
    left            : 0;
    bottom          : 0;
    width           : 100%;
    background-color: rgb(14, 13, 13);
    color           : white;
    text-align      : center;
}